$primary: #0E4059 !default;
$secondary:#1EA596 ;

// font
$root-font-size: 16;

// Break points
$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$xLargeScreen: 1200px;
$xxLargeScreen: 1400px;
