
.btn {
    width: 156px;
    height: 54px;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    background: #1ea596;
    border-radius: 6px;
}
.submit{
    width: 351px;
height: 60px;
}
.button1 {
    width: 156px;
    height: 54px;
    color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: 500;
    font-size: 22px;
    border: 2px solid #1ea596;
    border-radius: 6px;
}
.button2 {
    width: 143px;
    height: 27px;
    background-color: #fff;
    border: none;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    line-height: 27px;
    color: #0e4059;
}


