// select input type
.css-13cymwt-control {
    padding: 12px 8px !important;
}
.css-t3ipsp-control {
    padding: 12px 8px !important;
}

.css-1jqq78o-placeholder {
    font-size: 20px;
}
.css-1u9des2-indicatorSeparator {
    display: none;
}
.css-tj5bde-Svg {
    fill: $secondary !important;
    height: 20px !important;
}

.css-1dimb5e-singleValue {
    font-size: 20px !important;
}
// input type text
.text {
    font-size: 20px;
    padding: 12px 8px !important;
}
.para{font-weight: 500;
    font-size: 21px;
    line-height: 29px;
}
