.layout{
    padding: 40px 0px;

    
}
.title{
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    background-color: $primary;
    
    div{
        padding: 10px 11px;

    }
   }